#main_footer{
    background-color: rgb(33, 36, 40);
    padding: 80px 0 10px;
}
.footer_top{
    position: relative;
}
.footer_top::after{
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    height: 2px;
    width: 100%;
    background-color: #121415;
    opacity: 0.8;
}
.footer_one{
    margin-top: 80px;
}
.footer_one .logo{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.footer_two h4{
    padding-top: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #ff014f;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
}
.footer_two ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_two ul li a{
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
    position: relative;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.footer_two ul li a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #ff014f;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}
.footer_two ul li a:hover{
    color: #ff014f;
}
.footer_two ul li a:hover::after{
    width: 100%;
}
.copyright_part{
    margin-top: 80px;
    position: relative;
    text-align: center;
}
.copyright_part::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #121415;
    opacity: 0.8;
}
.copyright_part{
    padding: 60px 0 30px;
}
.copyright_part h6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    font-family: "Poppins", sans-serif;
    opacity: 0.5;
}

/* responsive part start */
@media(max-width:575.98px) {
#main_footer {
    padding: 20px 0 20px;
}
.footer_one {
	margin-top: 44px;
}
.footer_two h4 {
	padding-top: 16px;
	font-size: 18px;
}
.footer_two ul li a {
	padding-top: 5px;
	font-size: 16px;
	line-height: 26px;
}
.copyright_part {
    margin-top: 20px;
	padding: 20px 0 5px;
}
}
@media (min-width:576px) and (max-width:767.98px) {
    
}
@media (min-width:992px) and (max-width:1199.98px) {
  
}

@media (min-width:1200px) and (max-width:1400px){
 
}