#main_banner{
    background-color: #000;
}
.banner{
    padding-top: 197px;
    padding-bottom: 132px;
}
.banner_right{
    margin: 0;
    padding: 0;
}
.banner_left h4{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #c4cfed;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.banner_left h1{
    padding-top: 50px;
    font-size: 64px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    color: #fff;
}
.banner_left h1 span{
    color: #c4cfed;
    font-size: 64px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}
.banner_left .righting{
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
.banner_left .righting h2{
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    opacity: 0.8;
}

.banner_left p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #fff;
    opacity: 0.5;
    padding-right: 50px;
}
.find_me{
    padding-top: 60px
}
.find_me span{
    padding-top: 60px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    display: block;
}
.icons{
    padding-top: 14px;
    margin-left: -24px;
}
.find_me .icons a{
    padding: 10px 14px;
    margin-left: 20px;
    background-color: rgb(33, 36, 40);
    font-size: 28px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    color: #c4cfed;
}
.find_me .icons a:hover{
    background-image: linear-gradient(to bottom right, #16181c, #212428)
}
.banner_right img{
    box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
    border: 16px solid rgb(22, 23, 24);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* responsive design */
@media(min-width:200px) and (max-width:576.98px){
    .banner {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    .banner_left h4 {
        font-size: 14px;
        letter-spacing: 5px;
        text-align: center;
    }
    .banner_left h1 {
        padding-top: 20px;
        font-size: 34px;
        font-weight: 600;
    }
    .banner_left h1 span{
        padding-top: 20px;
        font-size: 34px;
        font-weight: 600;
    }
    .banner_right{
        display: none;
    }
    .banner_left .righting{
        height: 20px;
        width: 100%;
        margin-top: 5px;
    }
    .banner_left .righting h2{
        font-size: 22px;
        line-height: 28px;
    }
    .banner_left p{
        margin-top: 25px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 1.5;
        color: #fff;
        opacity: 0.5;
        padding-right: 50px;
    }
    .find_me {
        padding-top: 6px;
    }
    .find_me span {
        text-align: center;
        padding-top: 0px;
        font-size: 14px;
    }
    .icons {
        padding-top: 10px;
        text-align: center;
    }
    .find_me .icons a {
        padding: 7px 11px;
        font-size: 20px;
    }
    .banner_left svg {
        text-align: center;
        height: 30px;
        width: 30px;
        padding: 0px;
    }

}
@media (min-width:577px) and (max-width:767.98px){
    .banner {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    .banner_left h4 {
        font-size: 14px;
        letter-spacing: 5px;
        text-align: center;
    }
    .banner_left h1 {
        padding-top: 20px;
        font-size: 34px;
        font-weight: 600;
    }
    .banner_left h1 span{
        padding-top: 20px;
        font-size: 36px;
        font-weight: 600;
    }
    .banner_right{
        display: none;
    }
    .banner_left .righting{
        height: 20px;
        width: 100%;
        margin-top: 5px;
    }
    .banner_left .righting h2{
        font-size: 24px;
        line-height: 28px;
    }
    .banner_left p {
        margin-top: 1px;
        font-size: 15px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 1.5;
        color: #fff;
        opacity: 0.5;
        padding-right: 20px;
    }
    .find_me {
        padding-top: 6px;
    }
    .find_me span {
        text-align: center;
        padding-top: 0px;
        font-size: 14px;
    }
    .icons {
        padding-top: 10px;
        text-align: center;
    }
    .find_me .icons a {
        padding: 7px 11px;
        font-size: 20px;
    }
    .banner_left svg {
        text-align: center;
        height: 30px;
        width: 30px;
        padding: 0px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .banner {
        padding-top: 140px;
        padding-bottom: 30px;
    }
    .banner_left h4 {
        font-size: 16px;
        letter-spacing: 4px;
    }
    .banner_left h1 span {
        padding-top: 20px;
        font-size: 42px;
        font-weight: 700;
    }
    .banner_left h1{
        padding-top: 20px;
        font-size: 40px;
        font-weight: 700;
    }
    .banner_left .righting{
        height: 40px;
        width: 100%;
        margin-top: 10px;
    }
    .banner_left .righting h2{
        font-size: 28px;
        line-height: 36px;
    }
    .banner_left p{
        padding-top: 38px;
        font-size: 15px;
    }
    .find_me {
        padding-top: 10px;
    }
    .find_me span {
        padding-top: 0px;
        font-size: 15px;
    }
    .icons {
        padding-top: 10px;
    }
    .find_me .icons a {
        padding: 7px 11px;
        font-size: 20px;
    }
    .banner_left svg {
        text-align: center;
        height: 30px;
        width: 30px;
        padding: 0px;
    }
    .banner_right {
        height: 60%;
        margin-top: 60px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .banner {
        padding-top: 160px;
        padding-bottom: 30px;
    }
    .banner_left h4 {
        font-size: 16px;
        letter-spacing: 4px;
    }
    .banner_left h1 span {
        padding-top: 20px;
        font-size: 50px;
        font-weight: 700;
    }
    .banner_left h1{
        padding-top: 20px;
        font-size: 50px;
        font-weight: 700;
    }
    .banner_left .righting{
        height: 40px;
        width: 100%;
        margin-top: 10px;
    }
    .banner_left .righting h2{
        font-size: 28px;
    }
    .banner_left p{
        font-size: 16px;
    }
    .find_me {
        padding-top: 30px;
    }
    .find_me span {
        padding-top: 0px;
        font-size: 16px;
    }
    .icons {
        padding-top: 10px;
    }
    .find_me .icons a {
        padding: 7px 11px;
        font-size: 24px;
    }
    .banner_left svg {
        text-align: center;
        height: 37px;
        width: 34px;
        padding: 0px;
    }
    .banner_right {
        height: 90%;
        margin-top: 10px;
    }
}
@media (min-width:1200px) and (max-width:1399.98px){
    .banner{
        padding-top: 177px;
        padding-bottom: 102px;
    }
    .banner_right {
        height: 90%;
    }
    .banner_left .righting h2{
        font-size: 34px;
    }
    .banner_left h2 span{
        font-size: 34px;
    }
    .find_me {
        padding-top: 10px;
    }
}
@media (min-width:1400px) and (max-width:1600px){
    .banner_right {
        height: 100%;
    }
}